.footer {
  position: relative;
  padding: 170px 150px 40px;
  @media (max-width: 991px) {
    padding: 35px 20px;
  }

  &__icon-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &__icon {
    fill: #fff;
    &_visa {
      width: 48px;
      height: 15px;
      margin-right: 25px;
      @media (max-width: 575px) {
        width: 26px;
        height: 8px;
        margin-right: 15px;
      }
    }
    &_master {
      width: 40px;
      height: 24px;
      @media (max-width: 575px) {
        width: 21px;
        height: 13px;
        margin-right: 15px;
      }
    }
  }
}

.footer-block {
  align-items: center;
  display: flex;
  justify-content: space-between;
  @media (max-width: 991px) {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}

.copyrigth {
  font-family: $font-medium;
  font-size: 14px;
  margin-bottom: 0;
  @media (max-width: 575px) {
    font-size: 12px;
  }
  &_desktop {
    @media (max-width: 991px) {
      display: none;
    }
  }
  &_mob {
    display: none;
    @media (max-width: 991px) {
      display: block;
    }
  }
}

.soc-block {
  display: flex;
  align-items: center;
  @media (max-width: 991px) {
    margin-bottom: 40px;
  }
  &__span {
    font-family: $font-medium;
    font-size: 20px;
    margin-right: 25px;
    @media (max-width: 575px) {
      font-size: 16px;
      margin-right: 15px;
    }
  }

  &__icon-wrap {
    display: flex;
    width: 25px;
    height: 25px;
    &:not(:last-child) {
      margin-right: 25px;
      @media (max-width: 575px) {
        margin-right: 15px;
      }
    }
  }

  &__icon {
    fill: #fff;
    margin: auto;
    width: 22px;
    height: 22px;
  }
}

.up-button {
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #007AD3;
  border: none;
  @media (max-width: 575px) {
    display: flex;
  }

  &__icon {
    fill: #fff;
    width: 11px;
    height: 13px;
    margin: auto;
  }
}