.into-col {
  @media (max-width: 991px) {
    margin-bottom: 35px;
  }
}

.intro-title {
  margin-bottom: 35px;
  @media (min-width: 992px) {
   padding-top: 40px;
  }
  @media (max-width: 991px) {
    margin-bottom: 15px;
  }
}

.intro-prise-wrap {
  display: flex;
  align-items: center;
  &_mb {
    margin-bottom: 100px;
    @media (max-width: 991px) {
      margin-bottom: 25px;
    }
  }
  &_mt {
    margin-top: 100px;
    @media (max-width: 991px) {
      margin-top: 20px;
    }
  }
}

.intro-prise {
  display: flex;
  align-items: flex-start;
  &__span {
    color: #fff;
    font-size: 56px;
    @media (max-width: 991px) {
      font-size: 24px;
    }
  }

  &__icon {
    fill: #fff;
    width: 32px;
    height: 25px;
    @media (max-width: 991px) {
      width: 14px;
      height: 11px;
    }
  }
}

.intro-box-wrap {
  display: flex;
  //justify-content: center;
  //align-items: center;
  //align-self: center;
  &_mb {
    margin-bottom: 50px;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
}

.intro-box {
  position: relative;
  background: linear-gradient(114.72deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.17) 100%);
  padding: 2px 0px 0px 2px;
  border-radius: 12px;
  &:before {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../img/box-img.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  &:not(:last-child) {
    margin-right: 20px;
    @media (max-width: 991px) {
      margin-right: 10px;
    }
  }

  &__inner {
    display: flex;
    flex-shrink: 0;
    max-width: 140px;
    min-height: 140px;
    width: 100%;
    height: 100%;
    background: #007ad3d1;
    border-radius: 12px;
    padding: 15px 25px;
    @media (max-width: 991px) {
      padding: 10px 5px;
    }
  }

  &__text {
    text-align: center;
    font-size: 14px;
    font-family: $font-medium;
    margin: auto;
    @media (max-width: 991px) {
      font-size: 12px;
    }
  }
}