.wrap-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  &_mb {
    margin-bottom: 90px;
    @media (max-width: 575px) {
      margin-bottom: 30px;
    }
  }
}

.thumb {
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  display: flex;
  height: 45px;
  width: auto;
  padding: 0 15px;
  align-items: center;
  @media (max-width: 575px) {
    height: 33px;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 5px;
  }
  &:not(:last-child) {
    margin-right: 17px;
    @media (max-width: 575px) {
      margin-right: 10px;
    }
  }

  &__icon {
    fill: #fff;
    width: 15px;
    height: 20px;
    margin-right: 10px;
    @media (max-width: 575px) {
      width: 10px;
      height: 12px;
    }
  }
}