// colors
$color: #20BF6B;
$dark-color: #29B069;
$darkest-color: #279E5F;
$dark-color: #555;

$link-color: #3498DB;
$link-hover-color: #2c80b9;
$critical-color: #EB4D4B;

// fonts
$font: "SamsungSharpSans", Arial, Helvetica, sans-serif;
$font-bold: "SamsungSharpSans-Bold", Arial, Helvetica, sans-serif;
$font-medium: "SamsungSharpSans-Medium", Arial, Helvetica, sans-serif;
$font-italic: "HelveticaNeue-Italic", Arial, Helvetica, sans-serif;
$font-light: "HelveticaNeue-Light", Arial, Helvetica, sans-serif;
