section.section.section_pb
    .headline.headline_mb
        h2.title-as-h2 <span class="span-letter">M</span>MMM.... NECƏ DƏ DƏQİQDİR

        p.title-span.title-span_line 13 MP / F1.9 və canlı fokus ilə

        .container
            .row.justify-content-center
                .col-12
                    p.lead F1.9 Diafraqmalı və canlı fokusa malik portret çəkiliş funksiyası sayəsində ən qaranlıq məkanlarda belə möhtəşəm fotoşəkillər çəkə bilərsiniz.

    .container
        .row.row_center
            .col-lg-4.col-md-6.col-12.text-center(class="sm:mb_b")
                div.img-frame.img-frame_mb
                    img.img-responce(src="img/m20_6.png" alt="Galaxy M20")

                p.font-medium F1.9 diafraqma ən aşağı işığa malik məkanlarda belə çəkiliş etmək üçündür.

            .col-lg-4.col-md-6.col-12.text-center
                div.img-frame.img-frame_mb
                    img.img-responce(src="img/m20_7.png" alt="Galaxy M20")

                p.font-medium Canlı fokus sayəsində portret şəkilərdə yüksək dəqiqlik
