section.section.section_pb.lines-bg
    .headline.headline_mb
        h2.title-as-h2 <span class="span-letter">M</span>MMM.... NECƏ DƏ GÜCLÜDÜR

        p.title-span.title-span_line 5000 mAh batareya və 3 dəfə daha sürətli enerji yığımı

        .container
            .row.justify-content-center
                .col-8
                    p.lead Smartfonunuzu 5000 mAh batereya ilə gün boyu işlədin. Type C adapteri ilə 3 dəfə sürətli enerji yığsın.

    .container
        .row.align-items-center.flex-lg-row.flex-column-reverse
            .col-lg-8.col-12.text-center
                p.paragraph.paragraph_mb Tam enerji ilə 28 saat dayanmadan video izləmə
                p.lead.lead_min.lead_mb Sürətli şarj 10 dəqiqəyə

                div.wrap-thumb.wrap-thumb_mb
                    .thumb
                        +svg("thumb__icon", "play")
                        span 3 saat video

                    .thumb
                        +svg("thumb__icon", "nota")
                        span 11 saat musiqi

                p.section-footer.section-footer_mod * Daxilli testlər əsasında müəyyən edilib. Video baxış, musiqi dinləmə müddəti istifadə üsullarına uyğun olaraq dəyişə bilər. * Cihaz 5 watt enerji yığımından 3 qat daha sürətli 15 watt Enerji yığımı ilə təchiz edilmişdir.


            .col-lg-4.col-sm-7.col-8
                img.img-responce(src="img/m20_energy.png" alt="Galaxy M20")