section.section.section_pb
    .headline.headline_mb
        h2.title-as-h2 <span class="span-letter">M</span>MMM.... NECƏ DƏ GÖZƏL SELFİDİR

        p.title-span.title-span_line Ön kamera (8 MP/F2.0) və daxili fləşlə.

        .container
            .row.justify-content-center
                .col-12
                    p.lead FF2.0 daxili fləş və diapazonlu parlaq selfilər edin.

    .container
        .row.row_center
            .col-lg-4.col-md-6.col-12.text-center(class="sm:mb_b")
                div.img-frame.img-frame_mb
                    img.img-responce(src="img/m20_8.png" alt="Galaxy M20")

                p.font-medium Ön kamera (8 MP/F2.0) və daxili fləşlə.

            .col-lg-4.col-md-6.col-12.text-center
                div.img-frame.img-frame_mb
                    img.img-responce(src="img/m20_9.png" alt="Galaxy M20")

                p.font-medium F2.0 daxili fləş və geniş difraqma sayəsində parlaq, gözoxşayan selfielər.


