section.section.section_pb
    .headline.headline_mb
        h2.title-as-h2 <span class="span-letter">M</span>MMM.... NECƏ DƏ SÜRƏTLİDİR

        p.title-span.title-span_line Yeni 8-core Exynos 7904 prosessor ilə indi daha sürətli

        .container
            .row.justify-content-center
                .col-12
                    p.lead Sürət ağıllı telefonun olmazsa-olmazıdır. Bununla siz oyun oynaya, videolar izləyə, sosial mediada yazışa bilərsiniz. Çoxfunksionallıq sayəsində siz bunların hamısını eyni vaxtda edə bilərsiniz.

    .container-extra
        .row.row_between-cnt

            .col-lg-3.property-block.property-block_start.d-lg-flex.d-none(class="property-block_lg:flex-direction")
                .property.property_flex.property_mb.text-lg-left.text-center(class="property_lg:w property_:w property_md:p")
                    +svg("icon icon_m", "core")
                    span.property__span Güclü A73ARM core

                .property.property_flex.property_mb.text-lg-left.text-center(class="property_lg:w property_:w property_md:p")
                    +svg("icon icon_m", "cortex")
                    span.property__span 8 nüvəli 2 nüvə Cortex A73 (1.8 QQÇ) 6 nüvə Cortex A5 – (1.6QQÇ)

                .property.property_flex.property_mb.text-lg-left.text-center(class="property_lg:w property_:w property_md:p")
                    +svg("icon icon_m", "mp2")
                    span.property__span Produktiv 14 nm FinFET Process

            .col-lg-6.shade(class="md:mb")
                img.img-responce(src="img/m20_14-02.png" alt="Galaxy M20")


            .col-lg-3.col-12
                .property-block-wrap
                    .property-block(class="property-block_column")
                        .property.property_flex-direction.property_mb.text-lg-left.text-center(class="property_xs:w property_md:p")
                            +svg("icon icon_m", "microprocessor-01")
                            span.property__span 3 GB əməliyyat yaddaşı

                        .property.property_flex-direction.property_mb.text-lg-left.text-center(class="property_xs:w property_md:p")
                            +svg("icon icon_m", "microprocessor-02")
                            span.property__span 32 GB 512 GB yaddaş kartı girişi

                        .property.property_flex-direction.property_mb.text-lg-left.text-center(class="property_xs:w property_md:p")
                            +svg("icon icon_m", "sim-cart")
                            span.property__span Dual voLTE ilə iki SİM-kartlı


                    .property-block.d-lg-none.d-flex(class="property-block_column")
                        .property.property_flex-direction.property_mb.text-lg-left.text-center(class="property_xs:w property_md:p")
                            +svg("icon icon_m", "core")
                            span.property__span Güclü A73ARM core

                        .property.property_flex-direction.property_mb.text-lg-left.text-center(class="property_xs:w property_md:p")
                            +svg("icon icon_m", "cotex")
                            span.property__span 8 nüvəli 2 nüvə Cortex A73 (1.8 QQÇ) 6 nüvə Cortex A5 – (1.6QQÇ)

                        .property.property_flex-direction.property_mb.text-lg-left.text-center(class="property_xs:w property_md:p")
                            +svg("icon icon_m", "mp2")
                            span.property__span Produktiv 14 nm FinFET Process
