section.section.section_pb
    .headline.headline_mb
        h2.title-as-h2 <span class="span-letter">M</span>MMM.... NECƏ DƏ ETİBARLIDIR

        p.title-span.title-span_line Üz tanıma və barmaq izi ilə kilidi açma funksiyası

        .container
            .row.justify-content-center
                .col-12
                    p.lead Galaxy M20, bir görüntü ilə və ya bir barmaq izi ilə smartfonun kilidini açmağa imkan verən biometrik tanıma ilə təchiz olunmuşdur.

    .container
        .row.row_center.flex-column
            .col-lg-6.col-12.text-center(class="lg:mb xs:mb")
                img.img-responce(src="img/m20_11.png" alt="Galaxy M20")

            .col-lg-7.col-md-12.property-block
                .property.property_mob_center
                    +svg("icon icon_m", "sensor")
                    span.property__span Barmaq izi skaneri

                .property.property_mob_center
                    +svg("icon icon_m", "face-int")
                    span.property__span Sürətli üz tanıma




