include ../mixins/mixins

header.header
    .container-fluid-menu
        div.d-flex.justify-content-between
            h1.logo
                a.logo__link(href="https://www.bakuelectronics.az/")
                    img.logo__img(src="img/logo-main.png" alt="Baku.Electronics.MMC")


            include ../partails/menu
